html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    
    vertical-align: baseline;
    
    @apply font-montserrat;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 16pt;
    line-height: 24pt;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (min-width: 768px) {
    html .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    html .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    html .container {
        max-width: 1140px;
    }
}


@media (min-width: 1400px) {
    html .container {
        max-width: 1320px;
    }
}

html .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

// Cores
$cor-primaria: #FF0000;
$cor-secundaria: #A30810;
$cor-escrita: #605D5C;
$cor-acao: #80C161;
$cor-box: #C4C4C4;